/* Fotes */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* Variáveis de cores */
:root {
  --amarelo-claro: #f2cb05;
  --amarelo-escuro: #f2b705;
  --marrom: #593b02;
  --cinza-claro: #f2f2f2;
  --preto: #0d0d0d;
}
* {
  margin: 0px;
}
/* Estilos gerais */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--cinza-claro);
  color: var(--preto);
  background-image: url(../Imagens/background.png);
  background-size: cover;
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  background-color: var(--cinza-claro) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.esferas {
  position: fixed;
  top: 30px;
  left: 30px;
  animation: girar720;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.navbar-brand img {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
}

.nav-link {
  color: var(--marrom) !important;
  font-weight: 500;
  margin-left: 70px;
}

.nav-link:hover {
  color: var(--amarelo-escuro) !important;
}

.nav-link i {
  margin-right: 5px;
  color: var(--marrom);
}

.contact-info {
  text-align: right;
  font-size: 0.9rem;
  color: var(--marrom);
}

.contact-info div {
  margin-bottom: 5px;
}

.contact-info i {
  color: var(--marrom);
}

/* Barra de pesquisa */
.search-section {
  background-color: var(--amarelo-claro);
  border-bottom: 1px solid rgb(129, 129, 129);
  padding: 1rem 0;
}

.input-group .form-control {
  border-right: none;
  border-color: rgb(163, 163, 163);
}

.input-group .form-control:focus {
  box-shadow: none;
  border-color: var(--marrom);
}

.input-group .btn-primary {
  background-color: var(--marrom);
  border-color: var(--marrom);
}

.input-group .btn-primary:hover {
  background-color: var(--preto);
  border-color: var(--preto);
}

/* Dropdown de categorias */
.dropdown .btn-secondary {
  background-color: var(--marrom);
  border-color: var(--marrom);
}

.dropdown .btn-secondary:hover {
  background-color: var(--preto);
  border-color: var(--preto);
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-color: var(--marrom);
  padding: 0.5rem 0;
  width: 100%;
}

.dropdown-header {
  color: var(--marrom);
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: var(--amarelo-claro);
  border-bottom: 1px solid var(--amarelo-escuro);
}

.dropdown-header i {
  margin-right: 8px;
  color: var(--marrom);
}

.dropdown-divider {
  margin: 0.5rem 0;
  border-color: var(--amarelo-escuro);
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: var(--marrom);
  transition: all 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item:hover {
  background-color: var(--amarelo-claro);
  color: var(--marrom);
  transform: translateX(5px);
}

.dropdown-item i {
  width: 20px;
  margin-right: 10px;
  color: var(--amarelo-escuro);
  text-align: center;
}

/* Estilização da barra de rolagem do dropdown */
.dropdown-menu::-webkit-scrollbar {
  width: 6px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: var(--cinza-claro);
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: var(--amarelo-escuro);
  border-radius: 3px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: var(--marrom);
}

/* Carrossel */
#mainCarousel {
  height: 46vh;
  position: relative;
  background-color: #f2b705;
}

#mainCarousel .carousel-item {
  height: 46vh;
}

#mainCarousel .carousel-item img {
  object-fit: cover;
  height: 120%;
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  padding: 1.5rem;
}

/* Estilização dos indicadores do carrossel */
.carousel-indicators {
  margin-bottom: 0;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--marrom);
  opacity: 0.5;
  margin: 0 1px;
  border: 2px solid var(--amarelo-claro);
}

.carousel-indicators button.active {
  opacity: 1;
  background-color: var(--amarelo-claro);
  transform: scale(1.2);
}
/* ==================MAIN=============== */
main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ======================================== */
/* Animação */
@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.carousel-icons {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-icons::before,
.carousel-icons::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.carousel-icons::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.carousel-icons::before {
  left: 0;
  top: 0;
}

.carousel__track {
  animation: carousel-scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.carousel__slide {
  height: 100px;
  width: 250px;
}

/* ================================= */

.big-conteiner-carrossel {
  margin-bottom: 40px;

  /* ativa o scroll horizontal */
  overflow-y: hidden; /*evita scroll vertical*/
  white-space: nowrap; /* impede que os itens quebrem para a linha de baixo */
  padding-bottom: 10px; /* espaço para não cortar conteúdo com a barra */
  scrollbar-width: auto; /* Firefox */
  scroll-behavior: smooth;
}

/* Estilo da barra no Chrome, Edge e Safari */
.big-conteiner-carrossel::-webkit-scrollbar {
  height: 8px;
}

.big-conteiner-carrossel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.big-conteiner-carrossel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.big-conteiner-carrossel::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ============ */

.titulo-section {
  text-align: center;
  color: #593b02;
  font-family: Arial, Helvetica, sans-serif;
}
/* ===========================carrossel3======================== */

.slider3 {
  position: relative;
  width: 90%;
  height: 350px;
  margin: 50px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider3-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1000;
}

.slider3 input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider3-controls label {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn3-1:checked ~ .slider3-controls label[for="btn3-1"],
#btn3-2:checked ~ .slider3-controls label[for="btn3-2"],
#btn3-3:checked ~ .slider3-controls label[for="btn3-3"] {
  background-color: #ff4081;
}

.slides3 {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.slide3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 250ms linear;
}

.slide3-content {
  width: 400px;
}

.slide3-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--amarelo-escuro);

  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

.slide3-text {
  margin-bottom: 20px;
}

.slide3-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #ff4081;
  text-decoration: none;
  border-radius: 3px;
}

.slide3-image img {
  max-width: 100%;
}

/* Slide visibilidade */
#btn3-1:checked ~ .slides3 .slide3:nth-child(1),
#btn3-2:checked ~ .slides3 .slide3:nth-child(2),
#btn3-3:checked ~ .slides3 .slide3:nth-child(3) {
  transform: translateX(0);
  opacity: 1;
}

/* Slide animação de saída */
#btn3-1:not(:checked) ~ .slides3 .slide3:nth-child(1),
#btn3-2:not(:checked) ~ .slides3 .slide3:nth-child(2),
#btn3-3:not(:checked) ~ .slides3 .slide3:nth-child(3) {
  animation: slide3-out 300ms linear;
}

@keyframes slide3-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
  }
}

/* ===========================carrossel3 final======================= */
/* ===========================sessões5 ======================= */
.menu {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sectionAd {
  height: 70px;
  width: 200px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--cinza-claro);

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.192);
  transition: 1.5s;
  margin-bottom: 20px;
  background-color: var(--marrom);
}
.sectionAd:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.192);
  transform: scale(1.05);
  transition: 0.5s;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.sectionAd p {
  margin-top: 10px;
}

.produtosAdesivosConteiner {
  width: 100%;
  padding: 10px 6px;
}
.adesivos {
  transition: 1s;
}
.adesivosVidro {
  display: none;
  transition: 1s;
}
.adesivosTrocaDeOleo {
  display: none;
  transition: 1s;
}
.adesivosPlotterRecorte {
  display: none;
  transition: 1s;
}

.menuMobile {
  display: none;
}
.adesivosConteiner {
  background-color: var(--amarelo-claro);
}

@media (max-width: 768px) {
  .sectionAd {
    display: none;
  }
  .menuMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

/* ===========================sessões5 final================= */

/* ===========================sessões6======================= */
.sectionLona {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 7px 5px;
  width: 100%;
  background: var(--amarelo-escuro);
}

/* ===========================sessões6 final================= */
/* ============================================ */
.sobreNos {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.39);
}
.conteinerInfoSobreNos {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.mapa {
  height: 360px;
  width: 600px;
  border-radius: 20px;
}
.paragrafoSobreNos {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 460px;
  height: 380px;
  line-height: 1.75;
}
@media (max-width: 768px) {
  .sobreNos {
    height: 1000px;
  }
  .mapa {
    height: 320px;
    width: 300px;
  }
  .conteinerInfoSobreNos {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .paragrafoSobreNos {
    text-align: center;
    width: 340px;
    margin-top: 20px;
    height: 520px;
  }
}
/* ============================================ */

/* Footer */
footer {
  background-color: rgb(0, 0, 0) !important;
  margin-top: 2rem;
  border-top: 1px solid gray;
  color: var(--cinza-claro);
  background-image: url(../Imagens/footerBackground.png);
  background-size: cover;
}

/* Responsividade */
@media (max-width: 768px) {
  .esferas {
    height: 30px;
    position: fixed;
    top: 2px;
    left: 7.2px;
    animation: girar720;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .navbar-collapse {
    text-align: right;
  }

  .navbar-nav {
    align-items: flex-start;
  }

  .nav-link {
    margin-left: 0;
    padding: 0.5rem 1rem;
  }

  .contact-info {
    text-align: right;
    margin-top: 1rem;
  }

  #mainCarousel {
    height: 25vh;
  }

  #mainCarousel .carousel-item {
    height: 25vh;
  }

  .carousel-indicators button {
    width: 10px;
    height: 10px;
  }

  footer {
    background-color: rgb(0, 0, 0) !important;
    margin-top: 2rem;
    border-top: 1px solid gray;
    color: var(--cinza-claro);
    background-image: url(../Imagens/footerBackground.png);
    background-position: 67%;
  }

  /* //=========Carrossel3==Mobile============ */
  .slider3 {
    max-height: 600px;
  }
  .slide3-image img {
    display: none;
  }
}

@keyframes girar5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(51840deg);
  }
}
@keyframes girar720 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

/* Estilo para o botão flutuante do WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #25d366;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  z-index: 1000;
  animation: bounceInRight;
  animation-duration: 1s;
}

.whatsapp-float:hover {
  background-color: #128c7e;
  color: white;
  transform: scale(1.1);
}
/* Estilo para o menu de categorias */
.category-nav {
  background-color: transparent;
  padding: 15px 0;
}

.category-nav .nav-link {
  color: #333;
  margin: 0 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-nav .nav-link:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

.category-nav .nav-link i {
  margin-right: 5px;
}

/* Estilos do Carrossel de Cards */
.carousel-container {
  width: 100%;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-width: thin;
  scrollbar-color: var(--amarelo-escuro) var(--cinza-claro);
}

.carousel-container::-webkit-scrollbar {
  height: 8px;
}

.carousel-container::-webkit-scrollbar-track {
  background: var(--cinza-claro);
  border-radius: 4px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: var(--amarelo-escuro);
  border-radius: 4px;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--marrom);
}
.cards-wrapper {
  display: flex;
  gap: 20px;
  padding: 10px;
  min-width: min-content;
}

.product-card {
  flex: 0 0 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(36, 35, 35, 0.1);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease;
  width: 260px;
  height: auto;
  word-wrap: break-word;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 4px;
}

.product-card h3 {
  font-size: 1.08rem;
  color: var(--marrom);
  margin: 0;
}
.product-card p {
  font-size: 1.08rem;
  color: var(--marrom);
  margin: 0;
}

.product-card .price {
  font-size: 1.12rem;
  font-weight: bold;
  color: var(--amarelo-escuro);
  margin: 0;
}

.size-selector {
  width: 100%;
}

.size-selector .form-select {
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
  border-color: var(--amarelo-escuro);
  color: var(--marrom);
}

.size-selector .form-select:focus {
  border-color: var(--marrom);
  box-shadow: 0 0 0 0.2rem rgba(89, 59, 2, 0.25);
}

.product-card .btn-primary {
  font-size: 1.05rem;
  padding: 0.4rem 0.7rem;
  background-color: var(--marrom);
  border-color: var(--marrom);
  width: 100%;
  margin-top: auto;
}

.product-card .btn-primary:hover {
  background-color: var(--amarelo-escuro);
  border-color: var(--amarelo-escuro);
  color: var(--marrom);
}

/* ========================Carrossel trabalhos============================== */
.conteiner-section {
  flex-direction: column;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.DescricaoPlacas {
  width: 100%;
  text-align: center;
  color: var(--marrom);
  /* border: 1px solid red; */
}

.card-placa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  background-color: var(--amarelo-escuro);
}

.card-placa p {
  font-size: 14px;
  color: white;
}

.slider-placa {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider-placa .list-placa {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider-placa .list-placa .item-placa {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}

.slider-placa .list-placa .item-placa img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

/* .slider-placa:hover .item-placa {
  animation-play-state: paused !important;
  filter: grayscale(1);
} */

.slider-placa .item-placa:hover {
  filter: grayscale(0);
}

.slider-placa[reverse="true"] .item-placa {
  animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
@media (max-width: 768px) {
  .conteiner-section {
    flex-direction: column;
    display: block;
    align-items: center;
    /* border: 1px solid red; */
  }
  .DescricaoPlacas {
    width: 100%;
    text-align: center;
    color: var(--marrom);
    /* border: 1px solid red; */
  }
}
